@page
@model PetSpaManagementWeb.Pages.CustomerDashboard.Appointments.IndexModel

@{
    ViewData["Title"] = "Appointments";
}
<script>
    function redirectToPayment(url) {
        window.location.href = url;
    }
</script>
@if (TempData["PaymentUrl"] != null)
{
   @*  <div class="alert alert-success">
        @TempData["SuccessMessage"]
        <button type="button" class="btn btn-primary" onclick="redirectToPayment('@TempData["PaymentUrl"]')">
            Thanh toán ngay <i class="bi bi-arrow-right"></i>
        </button>
    </div> *@

    <div class="alert alert-success fade show mx-auto" role="alert" style="max-width: auto;">
        <i class="bi bi-check-circle-fill"></i>
        @TempData["SuccessMessage"]
        <button type="button" class="btn btn-primary" onclick="redirectToPayment('@TempData["PaymentUrl"]')">
            Thanh toán ngay <i class="bi bi-arrow-right"></i>
        </button>
    </div>
}
@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger">
        @TempData["ErrorMessage"]
    </div>
}

<h1>Appointments</h1>

<p>
    <a asp-page="./Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
         @*    <th>
                @Html.DisplayNameFor(model => model.Appointments[0].User)
            </th> *@
            <th>
                @Html.DisplayNameFor(model => model.Appointments[0].SpaPackage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Appointments[0].Pet)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Appointments[0].DateTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Appointments[0].Status)
            </th>
            <th>
                Payment status
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Appointments[0].Notes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Appointments[0].Price)
            </th>
           
            <th>Modify</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Appointments)
        {
            <tr>
             @*    <td>
                    @Html.DisplayFor(modelItem => item.User.Email)
                </td> *@
                <td>
                    @Html.DisplayFor(modelItem => item.SpaPackage.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Pet.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateTime)
                </td>
                <td>
                    <span class="badge" style="background-color:@(item.Status == "PENDING" ? "#ffc107" :
                                                                item.Status == "ASSIGNED" ? "#007bff" :
                                                                item.Status == "COMPLETED" ? "#28a745" :
                                                                item.Status == "CANCELLED" ? "#dc3545" :
                                                                "gray")">
                        @Html.DisplayFor(modelItem => item.Status)
                    </span>
                </td>
                <td>
                    @{
                        string status ="";
                        if (item.Payments.Any())
                        {
                            if (item.Payments.First().Status == "PENDING" || item.Payments.First().Status == "FAILED")
                            {
                                status = "UNPAID";
                            }
                            else
                            {
                                status = "PAID";

                            }
                        }
                        else
                        {
                            status = "UNPAID";
                        }



                    }
                    @status
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Notes)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SpaPackage.Price)
                </td>
                <td>
                    <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.Id">Cancel</a>
                </td>
            </tr>
        }
    </tbody>
</table>

