@page
@model             IndexModel
@{
}

@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success">
        @TempData["SuccessMessage"]
    </div>
}

@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger">
        @TempData["ErrorMessage"]
    </div>
}

<p>
    <div class="d-flex align-items-stretch">
        <form method="get" asp-page="./Create" class="me-2">
            <button type="submit" class="btn btn-primary">Create new profile for your pet</button>
        </form>

        <form method="get" asp-page="/CustomerDashboard/Appointments/Create">
            <button type="submit" class="btn btn-primary">Make an appointment</button>
        </form>

        <div class="me-2" style="margin-left:10px">
            <button type="button" class="btn btn-primary" onclick="window.open('@Model.linkFacebook', '_blank')">
                <i class="bi bi-facebook text-yellow fs-7"></i>
            </button>
        </div>

    </div>
</p>

<form method="get" class="row g-3 d-flex mb-3">
    <div class="col-md-6 d-flex">
        <input type="text" class="form-control mt-3" name="searchString" value="@Model.searchString" placeholder="Search by name or ID">
        <button type="submit" class="btn btn-outline-info">Search</button>
    </div>
</form>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Pets[0].Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pets[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pets[0].Age)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pets[0].Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pets[0].Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pets[0].UserId)
            </th>

            <th>Modify</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Pets)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Age)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Type)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserId)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>


<ul class="pagination">
    @for (var i = 1; i <= Model.pagination.TotalPages; i++)
    {
        <li class="page-item @(i == Model.pagination.PageIndex ? "active" : "")">
            <a class="page-link" asp-route-pageIndex="@i">@i</a>
        </li>
    }
</ul>
