@page
@model PetSpaManagementWeb.Pages.ManagerDashboard.AppointmentManagement.DetailModel
@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>
<div>
    <h4>Spa Package</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Appointment.User)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Appointment.User.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Appointment.SpaPackage)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Appointment.SpaPackage.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Appointment.Pet)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Appointment.Pet.Name)
        </dd>
        <dt class="col-sm-2">
            Pet Sitter
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Appointment.User.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Appointment.DateTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Appointment.DateTime)
        </dd>
                <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Appointment.Status)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Appointment.Status)
        </dd>
                <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Appointment.Notes)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Appointment.Notes)
        </dd>
                <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Appointment.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Appointment.Price)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Appointment.SpaPackage?.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
